body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #5a5a95, #8a56c2);
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100vh;
}

header {
  background-color: #009688;
  padding: 20px;
  text-align: center;
  color: #fff;
}

.card, .task-card {
  background-color: #fff;
  width: 500px;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  color: #333;
  padding-bottom: 10px;
}
.task-card  {
  background-color: #c2a9ec;
}
#taskForm, #taskContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}

.task-input {
  display: flex;
  align-items: center;
  justify-content: center;
}

#taskInput {
  flex: 1;
  padding: 15px 12px;
  font-size: 15px;
  margin-right: 10px;
  border: 0.5px solid #5a5a95;
  background-color: #f2f2f2;
  color: #333;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

#taskInput::placeholder {
  color: #615a5a;
}

#taskInput:focus {
  outline: none;
  background-color: #ababd1;
}
button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 15px 12px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #60358d;
}
select {
    padding: 15px 12px;
    text-align: center;
}
#sort {
margin-top: 10px;
padding: 20px;
background-color: #009688;
}
#sort:hover {
  background-color: #879600;
}
